body {
}
.filas{
    display: flex;
}

.FILAS {
    display: flex;
}
.Titulo {
    font-family: 'Franklin Gothic Book';
    color: white;
    text-align: center;
    font-size: 39px;
    background: #1B4C61;
    padding: 0 4%;
    width: 1112px;
}
